@media (max-width: 500px){
  #navbar{
    width: 100px;
  }
  body{
    display: flex;
  }
}

body{
  /* display: grid; */
  width: 100%;
  /* grid-template-columns: auto auto; */
  /* grid-gap: 20px; */
}

#navbar{
  position: fixed;
  display: grid;
  grid-template-rows: 70px repeat(5, 40px);
  border-style: solid;
  border-width: 0 medium 0 0;
  border-color: gray;
  height: 100%;
}



.nav-link{
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  padding: 10px 5px 10px 5px;
  align-self: center;
}
#main-doc{
  position: absolute;
  left: 280px;
}
.main-section header{
  font-size: 24px;
  font-weight: bold;
}
nav header{
  font-size: 24px;
  font-weight: bold;
  padding: 20px 5px 20px 5px;
}
#details-item{

  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "func func"
    "param paramc"
    "ret retc";
  padding: 5px 5px 5px 5px;
}

#item1{
  grid-area: func;
  background-color: #656D76;
  padding: 4px 4px 4px 4px;

}

#item2{
  grid-area: param;
  background-color: #787800;
  padding: 4px 14px 4px 14px;
}

#item3{
  grid-area: paramc;
  background-color: #C6C630;
  padding: 4px 4px 4px 4px;
}

#item4{
  grid-area: ret;
  padding: 4px 14px 4px 14px;
  background-color: #2F4B6E;
}

#item5{
  grid-area: retc;
  padding: 4px 4px 4px 4px;
  background-color: #788DA9;
}

#blank{
  height: 800px;
}
