---
layout: default
title: Zhengyang Liu
---

<!-- <div id='topics'>
	{% for item in site.data.topics %}
		{% include topic_item.html name=item.name link=item.link img_link=item.img_link %}
	{% endfor %}
</div> -->
<div id="myInfo">
	<img id='profile-pic' src="/assets/images/zhengyang_liu2.png" alt="pic" >
	<div id="myHistory">
		<h4>Education</h4>
		<div class="horizontal">
			&nbsp&nbsp<b>BE</b> &nbsp Polymer Materials and Engineering, Tsinghua University, 2014
		</div>
		<div class="horizontal">
			&nbsp&nbsp<b>PhD</b> &nbsp Chemical Engineering, University of Minnesota, 2021
		</div>
		<h4>Research Interest</h4>
		&nbsp&nbsp[Active matter][Rheology][Particle tracking]
		<h4>Contact Information</h4>
		<div class="horizontal">
			&nbsp&nbsp<b>Email</b> &nbsp liux3141@umn.edu
		</div>
		<div class="horizontal">
			&nbsp&nbsp<b>Cell</b> &nbsp +1 612-404-5702
		</div>
	</div>
</div>


<h2> Publications </h2>

{% bibliography --file my_pubs %}



