@media screen and (min-width: 480px){
  #header{
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    background-color: white;
  }
  #header-img{
    display: flex;
    height: 40px;
  }
  #nav-bar{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
  }
  .nav-link{
    font-family: inherit;
  }
  a {
    color: black;
    text-decoration: none;
  }
  #howitworks{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #798;
  }
  #feature-video{

    padding: 40px 40px 40px 40px;
  }
  #features{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 40px 20px 40px;
    background-color: #8203;
  }
  #features-item{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #999999;
    margin: 5px 0px 5px 0px;
  }
  #features-item-art{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
  }
  #features-item-space{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
  }
  #features-item-text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
  }
  #pricing{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 50px 20px 50px;
    background-color: #187;
  }
  #pricing-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px 0px 5px;
    height: 300px;
    width: 200px;
    background-color: #5984;
    font-size: 50px;
    font-family: helvetica;
  }
  #form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 40px 0px;
    padding: 10px 30% 10px 30%;
    flex-direction: column;
  }
  #submit{
    width: 20%;
    height: 20px;
  }

}
