<!DOCTYPE html>
<title>{% if page.title %} {{ page.title }} | {% endif %} Resume</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/casualwriter/casual-markdown/dist/casual-markdown.css">
<script src="https://cdn.jsdelivr.net/gh/casualwriter/casual-markdown/dist/casual-markdown.js"></script>
<style>
  body {
    line-height: 1.5;
    margin: auto;
    padding: 3px;
    max-width: 1024px;
    display: none;
    FONT-FAMILY: "Segoe UI", ARIAL;
  }

  h1 {
    font-size: 200%;
    padding: 16px;
    border: 1px solid lightgrey;
    BACKGROUND: #f0f0f0;
  }

  h2 {
    border-bottom: 1px solid grey;
    padding: 2px
  }
</style>

<body onload="document.body.innerHTML=md.html(document.body.innerHTML); document.body.style.display='block';">
<!--======= COPY ABOVE CODE AS HEADER, THEN FOLLOW WITH RESUME CONTENT IN MARKDOWN FORMAT =========-->

<img style="float:right;border-radius:50%;width:60px;padding:6px" src="https://drive.google.com/thumbnail?id=1sJHkYSRsfLWX-rVkH_VnIE_C1ywyQXUP" />
<!-- https://drive.google.com/file/d/1sJHkYSRsfLWX-rVkH_VnIE_C1ywyQXUP/view?usp=sharing -->
<span style="float:right;padding:6px">
  liuzy19911112@email.com <br> URL: https://zloverty.github.io/ <br> Publications: <a href="https://scholar.google.co.uk/citations?hl=en&user=V-TRm_4AAAAJ">Google Scholar</a>
</span>

{{ content }}
